/*INFO 段落行间距设置*/
.post-content p {
    letter-spacing: 0px;
    /*文字间距为*/
    line-height: 1.5;
    /*行间距为字体大小的2.5倍*/
    margin-top: 0px;
    /*段前距离*/
    margin-bottom: 0px;
    /*段后距离*/
    text-align: justify;
    /*文本对齐方式*/
}